pyyaml
loguru
opencv-python
yacs
tqdm
pytorch-lightning
git+https://github.com/openai/CLIP.git
trimesh
scipy
scikit-image
einops
accelerate 
ema-pytorch
denoising_diffusion_pytorch
git+https://github.com/mattloper/chumpy
tensorboard
